.App {
  text-align: center;
}

.grille {
  padding: 30px;
  display: grid;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}

.username{
  margin-top: -3px;
}

.search{
  padding-top: 30px;
}

.button-reinit{
  margin-left: 30px;
  border: 2px solid black;
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
  border-color: #2196F3;
  color: dodgerblue
}

.button-reinit:hover {
  background-color: #2196F3;
  color: white;
}

.input-search{
  width: 20%;
  border: 3px solid #2196F3;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.input-search:focus{
  color: #2196F3;
}
.favorie{
  color: red;
}